.header {
  height: 50px;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 20px;

  font-size: 50px;
  font-family: 'Titillium Web', sans-serif;
  background-color: white;
  color:#01E174;
  text-align: center;
}

.text {
  margin-top:103px;
  margin-left:650px;

  padding-top:3px;
  padding-bottom: 7px;

  height: 50px;
  width: 560px;

  font-size: 36px;
  font-family: 'Titillium Web', sans-serif;
  background-color: white;
  color:black;
  text-align: center;
}

.size {
  position: fixed;
  top: 0;
  left: 0;
  margin-top:197px;
  margin-left:20px;
}

.screenshot {
  margin-top:0px;
  margin-left: 650px;
}
